# NativeScript
hooks/
node_modules/
platforms/

# NativeScript Template
# *.js.map
# *.js 
!webpack.config.js
# *.css

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/*

# Lee NativeScript
**/arena/**/*.js
**/home/**/*.js
**/leaderboard/**/*.js
**/pageNotFound/**/*.js
**/services/**/*.js
**/settings/**/*.js
**/shared/**/*.js
app-routing.module.js
app.component.js
app.module.js
app.android.css
app.ios.css
main.js
