<!-- Author: Lee Shuman -->

<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Leaderboard"></Label>
</ActionBar>
<GridLayout class="leaderboard-base" columns="20,*,20" rows="10, auto, auto, *, 10">
    <GridLayout class="leaderboard-base" col="1" row="1" columns="*,*,*" rows="auto" align-items="stretch">
        <Button class="{{this.gameIndex === 0 ? 'leaderboard-btn leaderboard-btn-active' : 'leaderboard-btn leaderboard-btn-inactive'}}" row="0" col="0" text="Angry Cats" (tap)="onTapCats($event)"></Button>
        <Button class="{{this.gameIndex === 1 ? 'leaderboard-btn leaderboard-btn-active' : 'leaderboard-btn leaderboard-btn-inactive'}}" row="0" col="1" text="Gladiator Combat" (tap)="onTapArena($event)"></Button>
        <Button class="{{this.gameIndex === 2 ? 'leaderboard-btn leaderboard-btn-active' : 'leaderboard-btn leaderboard-btn-inactive'}}" row="0" col="2" text="Sudoku" (tap)="onTapSudoku($event)"></Button>
    </GridLayout>
    <GridLayout class="leaderboard-base" col="1" row="2" columns="*,2*,*" rows="auto">
        <Label class="leaderboard-title" row="0" col="0" text="Rank"></Label>
        <Label class="leaderboard-title" row="0" col="1" text="Player Name"></Label>
        <Label class="leaderboard-title" row="0" col="2" text="Score"></Label>
    </GridLayout>
    <GridLayout class="leaderboard-base" col="1" row="3" columns="*,2*,*" rows="*,*,*,*,*,*,*,*,*,*">
        <Label class="leaderboard-name" row="0" col="0" text="1"></Label>
        <Label class="leaderboard-name" row="0" col="1" text="{{this.leaderboardService.leaderboardEntries[0] ? this.leaderboardService.leaderboardEntries[0].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="0" col="2" text="{{this.leaderboardService.leaderboardEntries[0] ? this.leaderboardService.leaderboardEntries[0].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="1" col="0" text="2"></Label>
        <Label class="leaderboard-name" row="1" col="1" text="{{this.leaderboardService.leaderboardEntries[1] ? this.leaderboardService.leaderboardEntries[1].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="1" col="2" text="{{this.leaderboardService.leaderboardEntries[1] ? this.leaderboardService.leaderboardEntries[1].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="2" col="0" text="3"></Label>
        <Label class="leaderboard-name" row="2" col="1" text="{{this.leaderboardService.leaderboardEntries[2] ? this.leaderboardService.leaderboardEntries[2].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="2" col="2" text="{{this.leaderboardService.leaderboardEntries[2] ? this.leaderboardService.leaderboardEntries[2].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="3" col="0" text="4"></Label>
        <Label class="leaderboard-name" row="3" col="1" text="{{this.leaderboardService.leaderboardEntries[3] ? this.leaderboardService.leaderboardEntries[3].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="3" col="2" text="{{this.leaderboardService.leaderboardEntries[3] ? this.leaderboardService.leaderboardEntries[3].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="4" col="0" text="5"></Label>
        <Label class="leaderboard-name" row="4" col="1" text="{{this.leaderboardService.leaderboardEntries[4] ? this.leaderboardService.leaderboardEntries[4].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="4" col="2" text="{{this.leaderboardService.leaderboardEntries[4] ? this.leaderboardService.leaderboardEntries[4].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="5" col="0" text="6"></Label>
        <Label class="leaderboard-name" row="5" col="1" text="{{this.leaderboardService.leaderboardEntries[5] ? this.leaderboardService.leaderboardEntries[5].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="5" col="2" text="{{this.leaderboardService.leaderboardEntries[5] ? this.leaderboardService.leaderboardEntries[5].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="6" col="0" text="7"></Label>
        <Label class="leaderboard-name" row="6" col="1" text="{{this.leaderboardService.leaderboardEntries[6] ? this.leaderboardService.leaderboardEntries[6].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="6" col="2" text="{{this.leaderboardService.leaderboardEntries[6] ? this.leaderboardService.leaderboardEntries[6].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="7" col="0" text="8"></Label>
        <Label class="leaderboard-name" row="7" col="1" text="{{this.leaderboardService.leaderboardEntries[7] ? this.leaderboardService.leaderboardEntries[7].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="7" col="2" text="{{this.leaderboardService.leaderboardEntries[7] ? this.leaderboardService.leaderboardEntries[7].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="8" col="0" text="9"></Label>
        <Label class="leaderboard-name" row="8" col="1" text="{{this.leaderboardService.leaderboardEntries[8] ? this.leaderboardService.leaderboardEntries[8].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="8" col="2" text="{{this.leaderboardService.leaderboardEntries[8] ? this.leaderboardService.leaderboardEntries[8].score : '0'}}"></Label>
        <Label class="leaderboard-name" row="9" col="0" text="10"></Label>
        <Label class="leaderboard-name" row="9" col="1" text="{{this.leaderboardService.leaderboardEntries[9] ? this.leaderboardService.leaderboardEntries[9].name : 'Unclaimed'}}"></Label>
        <Label class="leaderboard-score" row="9" col="2" text="{{this.leaderboardService.leaderboardEntries[9] ? this.leaderboardService.leaderboardEntries[9].score : '0'}}"></Label>
    </GridLayout>
</GridLayout>
<!-- This approach doesn't work in the current version of NativeScript/Angular. Nested router outlets are in the @next 
    version, but I'd prefere to stay on the stable release.
<TabView id="leaderboardTabView" 
            [(ngModel)]="tabSelectedIndex"
            androidTabsPosition="top"
            (selectedIndexChanged)="onSelectedIndexChanged($event)">
                <page-router-outlet *tabItem="{title: 'Angry Cats'}" name="leaderboard/cats"></page-router-outlet>
                <page-router-outlet *tabItem="{title: 'Gladiator Combat'}" name="arenaLeaderboard"></page-router-outlet>
                <page-router-outlet *tabItem="{title: 'Sudoku'}" name="sudokuLeaderboard"></page-router-outlet>
</TabView>
-->