<!-- Author: Lee Shuman -->

<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Leaderboard"></Label>
</ActionBar>
<GridLayout class="leaderboard-base" columns="20,*,*,*,20" rows="10, auto, 10, *, *, *, *, *, *, *, *, *, *, *, 30">
    <Button class="btn btn-primary" row="1" col="1" text="Angry Cats"></Button>
    <Button class="btn btn-primary" row="1" col="2" text="Gladiator Combat"></Button>
    <Button class="btn btn-primary" row="1" col="3" text="Sudoku"></Button>
    <Label class="leaderboard-title" height="100%" row="3" col="1" colspan="2" text="Player Name"></Label>
    <Label class="leaderboard-title" row="3" col="3" text="Score"></Label>
    <Label class="leaderboard-name" row="4" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="4" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="5" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="5" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="6" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="6" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="7" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="7" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="8" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="8" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="9" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="9" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="10" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="10" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="11" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="11" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="12" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="12" col="3" text="1000"></Label>
    <Label class="leaderboard-name" row="13" col="1" colspan="2" text="Lee Shuman"></Label>
    <Label class="leaderboard-score" row="13" col="3" text="1000"></Label>
</GridLayout>
<!-- This approach doesn't work in the current version of NativeScript/Angular. Nested router outlets are in the @next 
    version, but I'd prefere to stay on the stable release.
<TabView id="leaderboardTabView" 
            [(ngModel)]="tabSelectedIndex"
            androidTabsPosition="top"
            (selectedIndexChanged)="onSelectedIndexChanged($event)">
                <page-router-outlet *tabItem="{title: 'Angry Cats'}" name="leaderboard/cats"></page-router-outlet>
                <page-router-outlet *tabItem="{title: 'Gladiator Combat'}" name="arenaLeaderboard"></page-router-outlet>
                <page-router-outlet *tabItem="{title: 'Sudoku'}" name="sudokuLeaderboard"></page-router-outlet>
</TabView>
-->