<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<GridLayout class="page page-content" columns="*" rows="auto,auto,auto,auto">
    <Label  class="page-icon far" 
            text="&#xf582;" 
            row="0">
    </Label>
    <Label  class="info-text" 
            text="Please enter a name as you would like it to be displayed on our leaderboards" 
            width=100% 
            textWrap="true" 
            row="1">
    </Label>
    <TextField  hint="Enter your name" 
                secure="false" 
                returnKeyType="done" 
                autocorrect="false" 
                maxLength="15" 
                class="input input-border" 
                row="2" 
                (returnPress)="onReturnPress($event)" >
    </TextField>
    <Button class="btn btn-primary" 
            text="Submit" 
            row="3"></Button>>
</GridLayout>