<!-- Author/s: Lee Shuman -->

<ActionBar class="action-bar">
        <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton   ios:visibility="collapsed" 
                            icon="res://menu" 
                            (tap)="onDrawerButtonTap()">
        </NavigationButton>
        <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://navigation/menu" 
                    android:visibility="collapsed" 
                    (tap)="onDrawerButtonTap()"
                    ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="Gladiator Arena"></Label>
    </ActionBar>
    
    <GridLayout class="page page-content" columns="auto, 2*, auto, 2*" rows="auto,auto,auto,auto,auto">
        <!-- COMMON/BACKGROUND ELEMENTS -->
        <Label class="borderLabel" row="2" col="0" rowSpan="3" colSpan="4"></Label>
        <Button class="btn btn-primary btn-action" 
                text="Attack"
                (tap)="onAttackTap($event)"
                row="4" colSpan="4"></Button>>

        <!-- CHARACTER SECTION -->
        <Image class="playerIcon" row="0" col="0" colSpan="2" [src]="sebastionImage.src"></Image>
        <Label class="name-label-text m-l-20 body" textWrap="true" [text]="player.name" row="1" col="0" colSpan="2"></Label>
        <Label class="stat-label-text body" text="Health:" row="2"></Label>
        <Label class="stat-indicator-text body" text="{{player.currentHealth}} / {{player.fighterStatistics.maxHealth}}" row="2" col="1"></Label>
        <Label class="stat-label-text m-l-20 body" text="Stamina:" row="3"></Label>
        <Label class="stat-indicator-text body" text="{{player.currentStamina}} / {{player.fighterStatistics.maxStamina}}" row="3" col="1"></Label>

        <!-- ENEMY SECTION -->
        <Image class="enemyIcon" row="0" col="2" colSpan="2" [src]="lissomeImage.src"></Image>
        <Label class="enemy-label-text m-r-20 body" textWrap="true" [text]="enemy.name" row="1" col="2" colSpan="2" ></Label>
        <Label class="stat-label-text body" text="Health:" row="2" col="2"></Label>
        <Label class="stat-indicator-text body" text="{{enemy.currentHealth}} / {{enemy.fighterStatistics.maxHealth}}" row="2" col="3"></Label>
        <Label class="stat-label-text body" text="Stamina:" row="3" col="2"></Label>
        <Label class="stat-indicator-text body" text="{{enemy.currentStamina}} / {{enemy.fighterStatistics.maxStamina}}" row="3" col="3"></Label>

    </GridLayout>