<StackLayout class="page">
    <Label class="battle-end-title body" text="Your Gladiator {{victory === 'true' ? 'Won!' : 'Lost...'}}"></Label>
    <Label class="battle-end-text body" text="But they died..." *ngIf="isGladiatorDead && victory === 'true'"></Label>
    <Label class="battle-end-text body" text="Score was {{battleScore}}"></Label>
    <Button class="btn btn-primary btn-action" 
                text="{{isGladiatorDead ? 'Find a new fighter...' : 'Signal a New Challenger'}}"
                (tap)="onFightAgainTap($event)">
            </Button>
    <Button class="btn btn-primary btn-action" 
                text="Get some rest"
                *ngIf="!isGladiatorDead && !isGladiatorRested"
                (tap)="onRestTap($event)"
                row="4" colSpan="4"></Button>>
</StackLayout>>